openapi: 3.2.0
info:
  title: WIReDSpace DSpace REST Communities API
  description: REST API for WIReDSpace, the University of the Witwatersrand institutional repository, running DSpace 9.2. The API serves a HAL/JSON root document at /server/api and exposes read access to communities, collections, items, bundles, bitstreams, and discovery/browse endpoints. This specification documents the public, anonymously-readable read surfaces verified live against the deployment; write, workflow, and administrative endpoints exist in DSpace but require authentication and are not enumerated here.
  version: '9.2'
  contact:
    name: Wits Open Scholarship, Library
    email: openscholarship.library@wits.ac.za
    url: https://wiredspace.wits.ac.za/
  license:
    name: DSpace BSD License
    url: https://github.com/DSpace/DSpace/blob/main/LICENSE
servers:
- url: https://wiredspace.wits.ac.za/server/api
  description: WIReDSpace production DSpace 9.2 REST server
tags:
- name: Communities
  description: Top-level and sub-community containers
paths:
  /core/communities:
    get:
      tags:
      - Communities
      summary: List communities
      description: Returns a paginated HAL collection of top-level communities.
      operationId: getCommunities
      parameters:
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/Size'
      responses:
        '200':
          description: Paginated list of communities
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/CommunityPage'
  /core/communities/{uuid}:
    get:
      tags:
      - Communities
      summary: Get a community by UUID
      operationId: getCommunity
      parameters:
      - $ref: '#/components/parameters/Uuid'
      responses:
        '200':
          description: A single community
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Community'
        '404':
          description: Community not found
components:
  parameters:
    Page:
      name: page
      in: query
      required: false
      description: Zero-based page index
      schema:
        type: integer
        minimum: 0
        default: 0
    Uuid:
      name: uuid
      in: path
      required: true
      description: The UUID of the DSpace object
      schema:
        type: string
        format: uuid
    Size:
      name: size
      in: query
      required: false
      description: Page size
      schema:
        type: integer
        minimum: 1
        default: 20
  schemas:
    CommunityPage:
      type: object
      properties:
        _embedded:
          type: object
          properties:
            communities:
              type: array
              items:
                $ref: '#/components/schemas/Community'
        _links:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/Link'
        page:
          $ref: '#/components/schemas/PageInfo'
    PageInfo:
      type: object
      properties:
        size:
          type: integer
        totalElements:
          type: integer
        totalPages:
          type: integer
        number:
          type: integer
    Community:
      type: object
      properties:
        id:
          type: string
          format: uuid
        uuid:
          type: string
          format: uuid
        name:
          type: string
        handle:
          type: string
          example: 10539/38213
        metadata:
          type: object
          additionalProperties:
            type: array
            items:
              $ref: '#/components/schemas/MetadataValue'
        archivedItemsCount:
          type: integer
        type:
          type: string
          example: community
        _links:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/Link'
    MetadataValue:
      type: object
      properties:
        value:
          type: string
        language:
          type:
          - string
          - 'null'
        authority:
          type:
          - string
          - 'null'
        confidence:
          type: integer
        place:
          type: integer
    Link:
      type: object
      properties:
        href:
          type: string
          format: uri
