openapi: 3.2.0
info:
  title: WIReDSpace DSpace REST Root API
  description: REST API for WIReDSpace, the University of the Witwatersrand institutional repository, running DSpace 9.2. The API serves a HAL/JSON root document at /server/api and exposes read access to communities, collections, items, bundles, bitstreams, and discovery/browse endpoints. This specification documents the public, anonymously-readable read surfaces verified live against the deployment; write, workflow, and administrative endpoints exist in DSpace but require authentication and are not enumerated here.
  version: '9.2'
  contact:
    name: Wits Open Scholarship, Library
    email: openscholarship.library@wits.ac.za
    url: https://wiredspace.wits.ac.za/
  license:
    name: DSpace BSD License
    url: https://github.com/DSpace/DSpace/blob/main/LICENSE
servers:
- url: https://wiredspace.wits.ac.za/server/api
  description: WIReDSpace production DSpace 9.2 REST server
tags:
- name: Root
  description: HAL/JSON API root document
paths:
  /:
    get:
      tags:
      - Root
      summary: API root document
      description: Returns the DSpace HAL/JSON root document, including dspaceVersion, dspaceName, and an _links map of all available endpoints.
      operationId: getRoot
      responses:
        '200':
          description: HAL/JSON root document
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Root'
components:
  schemas:
    Link:
      type: object
      properties:
        href:
          type: string
          format: uri
    Root:
      type: object
      properties:
        dspaceUI:
          type: string
          format: uri
          example: https://wiredspace.wits.ac.za
        dspaceName:
          type: string
          example: WIReDSpace
        dspaceServer:
          type: string
          format: uri
          example: https://wiredspace.wits.ac.za/server
        dspaceVersion:
          type: string
          example: DSpace 9.2
        type:
          type: string
          example: root
        _links:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/Link'
