openapi: 3.2.0
info:
  title: WIReDSpace DSpace REST Discovery API
  description: REST API for WIReDSpace, the University of the Witwatersrand institutional repository, running DSpace 9.2. The API serves a HAL/JSON root document at /server/api and exposes read access to communities, collections, items, bundles, bitstreams, and discovery/browse endpoints. This specification documents the public, anonymously-readable read surfaces verified live against the deployment; write, workflow, and administrative endpoints exist in DSpace but require authentication and are not enumerated here.
  version: '9.2'
  contact:
    name: Wits Open Scholarship, Library
    email: openscholarship.library@wits.ac.za
    url: https://wiredspace.wits.ac.za/
  license:
    name: DSpace BSD License
    url: https://github.com/DSpace/DSpace/blob/main/LICENSE
servers:
- url: https://wiredspace.wits.ac.za/server/api
  description: WIReDSpace production DSpace 9.2 REST server
tags:
- name: Discovery
  description: Browse and search/discovery endpoints
paths:
  /discover/browses:
    get:
      tags:
      - Discovery
      summary: List browse indexes
      description: Returns the configured discovery browse indexes (e.g. by title, author, subject, date issued).
      operationId: getBrowses
      responses:
        '200':
          description: Browse indexes
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/DSpaceObjectPage'
  /discover/search/objects:
    get:
      tags:
      - Discovery
      summary: Search discovery objects
      description: Full-text and faceted search across indexed DSpace objects.
      operationId: searchObjects
      parameters:
      - name: query
        in: query
        description: Search query string
        required: false
        schema:
          type: string
      - name: dsoType
        in: query
        description: Restrict results to a DSpace object type (community, collection, item)
        required: false
        schema:
          type: string
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/Size'
      responses:
        '200':
          description: Search result page
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/DSpaceObjectPage'
components:
  parameters:
    Page:
      name: page
      in: query
      required: false
      description: Zero-based page index
      schema:
        type: integer
        minimum: 0
        default: 0
    Size:
      name: size
      in: query
      required: false
      description: Page size
      schema:
        type: integer
        minimum: 1
        default: 20
  schemas:
    DSpaceObjectPage:
      type: object
      properties:
        _embedded:
          type: object
        _links:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/Link'
        page:
          $ref: '#/components/schemas/PageInfo'
    PageInfo:
      type: object
      properties:
        size:
          type: integer
        totalElements:
          type: integer
        totalPages:
          type: integer
        number:
          type: integer
    Link:
      type: object
      properties:
        href:
          type: string
          format: uri
