openapi: 3.2.0
info:
  title: WIReDSpace DSpace REST Items API
  description: REST API for WIReDSpace, the University of the Witwatersrand institutional repository, running DSpace 9.2. The API serves a HAL/JSON root document at /server/api and exposes read access to communities, collections, items, bundles, bitstreams, and discovery/browse endpoints. This specification documents the public, anonymously-readable read surfaces verified live against the deployment; write, workflow, and administrative endpoints exist in DSpace but require authentication and are not enumerated here.
  version: '9.2'
  contact:
    name: Wits Open Scholarship, Library
    email: openscholarship.library@wits.ac.za
    url: https://wiredspace.wits.ac.za/
  license:
    name: DSpace BSD License
    url: https://github.com/DSpace/DSpace/blob/main/LICENSE
servers:
- url: https://wiredspace.wits.ac.za/server/api
  description: WIReDSpace production DSpace 9.2 REST server
tags:
- name: Items
  description: Repository items (records)
paths:
  /core/items/{uuid}:
    get:
      tags:
      - Items
      summary: Get an item by UUID
      description: Returns a single repository item. Anonymous access is governed by the item's access policies; restricted items return 401/403.
      operationId: getItem
      parameters:
      - $ref: '#/components/parameters/Uuid'
      responses:
        '200':
          description: A single item
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/DSpaceObject'
        '401':
          description: Authentication required for this item
        '404':
          description: Item not found
components:
  schemas:
    DSpaceObject:
      type: object
      properties:
        id:
          type: string
          format: uuid
        uuid:
          type: string
          format: uuid
        name:
          type: string
        handle:
          type: string
        metadata:
          type: object
          additionalProperties:
            type: array
            items:
              $ref: '#/components/schemas/MetadataValue'
        type:
          type: string
        _links:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/Link'
    MetadataValue:
      type: object
      properties:
        value:
          type: string
        language:
          type:
          - string
          - 'null'
        authority:
          type:
          - string
          - 'null'
        confidence:
          type: integer
        place:
          type: integer
    Link:
      type: object
      properties:
        href:
          type: string
          format: uri
  parameters:
    Uuid:
      name: uuid
      in: path
      required: true
      description: The UUID of the DSpace object
      schema:
        type: string
        format: uuid
