openapi: 3.2.0
info:
  title: WIReDSpace DSpace REST Collections API
  description: REST API for WIReDSpace, the University of the Witwatersrand institutional repository, running DSpace 9.2.
  version: '9.2'
  contact:
    name: Wits Open Scholarship, Library
    email: openscholarship.library@wits.ac.za
    url: https://wiredspace.wits.ac.za/
  license:
    name: DSpace BSD License
    url: https://github.com/DSpace/DSpace/blob/main/LICENSE
servers:
- url: https://wiredspace.wits.ac.za/server/api
  description: WIReDSpace production DSpace 9.2 REST server
tags:
- name: Collections
  description: Collections of items within communities
paths:
  /core/collections:
    get:
      tags:
      - Collections
      summary: List collections
      operationId: getCollections
      parameters:
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/Size'
      responses:
        '200':
          description: Paginated list of collections
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/DSpaceObjectPage'
  /core/collections/{uuid}:
    get:
      tags:
      - Collections
      summary: Get a collection by UUID
      operationId: getCollection
      parameters:
      - $ref: '#/components/parameters/Uuid'
      responses:
        '200':
          description: A single collection
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/DSpaceObject'
        '404':
          description: Collection not found
components:
  schemas:
    PageInfo:
      type: object
      properties:
        size:
          type: integer
        totalElements:
          type: integer
        totalPages:
          type: integer
        number:
          type: integer
    MetadataValue:
      type: object
      properties:
        value:
          type: string
        language:
          type:
          - string
          - 'null'
        authority:
          type:
          - string
          - 'null'
        confidence:
          type: integer
        place:
          type: integer
    Link:
      type: object
      properties:
        href:
          type: string
          format: uri
    DSpaceObjectPage:
      type: object
      properties:
        _embedded:
          type: object
        _links:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/Link'
        page:
          $ref: '#/components/schemas/PageInfo'
    DSpaceObject:
      type: object
      properties:
        id:
          type: string
          format: uuid
        uuid:
          type: string
          format: uuid
        name:
          type: string
        handle:
          type: string
        metadata:
          type: object
          additionalProperties:
            type: array
            items:
              $ref: '#/components/schemas/MetadataValue'
        type:
          type: string
        _links:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/Link'
  parameters:
    Uuid:
      name: uuid
      in: path
      required: true
      description: The UUID of the DSpace object
      schema:
        type: string
        format: uuid
    Page:
      name: page
      in: query
      required: false
      description: Zero-based page index
      schema:
        type: integer
        minimum: 0
        default: 0
    Size:
      name: size
      in: query
      required: false
      description: Page size
      schema:
        type: integer
        minimum: 1
        default: 20
